<h1>Registered SAS Nodes</h1>
<button type="button" class="btn btn-default"><a routerLink="/create-node">Register New Node</a></button>

<p *ngIf="!Nodes"><em>Loading...</em></p>
<!-- <table class='table' *ngIf="Nodes">
    <thead>
        <tr>
            <th>Node ID</th>
            <th>Node Name</th>
            <th>Location</th>
            <th>Trust Level</th>
            <th>Frequency Range</th>
            <th>Sample Rate Range</th>
            <th>Node Type</th>
            <th>Mobile</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let node of Nodes">
            <td><a routerLink="/node-details/{{node.nodeID}}">{{ node.nodeID }}</a></td>
            <td><a routerLink="/node-details/{{node.nodeID}}">{{ node.nodeName }}</a></td>
            <td>{{ node.location }}</td>
            <td>{{ node.trustLevel }}</td>
            <td>{{ node.minFrequency }}-{{ node.maxFrequency }}</td>
            <td>{{ node.minSampleRate }}-{{ node.maxSampleRate }}</td>
            <td>{{ node.nodeType }}</td>
            <td *ngIf="node.mobility">Yes</td>
            <td *ngIf="!node.mobility">No</td>
            <td>{{ node.status }}</td>
        </tr>
    </tbody>
</table> -->


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nodeID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.nodeID}} </td>
        </ng-container>

        <ng-container matColumnDef="nodeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.nodeName}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="trustLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trust Level </th>
            <td mat-cell *matCellDef="let element"> {{element.trustLevel}} </td>
        </ng-container>

        <ng-container matColumnDef="freqRange">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Frequency Range [MHz]</th>
            <td mat-cell *matCellDef="let element"> {{element.freqRange}} </td>
        </ng-container>

        <ng-container matColumnDef="sampleRange">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Rate Range [MHz]</th>
            <td mat-cell *matCellDef="let element"> {{element.sampleRange}} </td>
        </ng-container>

        <ng-container matColumnDef="nodeType">
            <th mat-header-cell *matHeaderCellDef> Node Type </th>
            <td mat-cell *matCellDef="let element"> {{element.nodeType}} </td>
        </ng-container>

        <ng-container matColumnDef="mobility">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
            <td mat-cell *matCellDef="let element"> {{element.mobility}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} <i *ngIf="checkActive" style="color:green; margin-left: 5px;" class="fa-solid fa-circle"></i></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>