<mat-toolbar class="mat-elevation-z8">
    <div class="menu-button">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
            <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
    </div>
    <div class="app-header">
        Spectrum Access System
    </div>
    <div class="user-data" *ngIf="loggedIn==true">
        {{username}}
    </div>
    <div class="logout">
        <button *ngIf="loggedIn==true" mat-button class="logout-button" routerLink="/logout">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-nav-menu></app-nav-menu>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>