<h1>Registered Primary Users</h1>

<p *ngIf="!PrimaryUsers"><em>Loading...</em></p>

<table class='table' *ngIf="PrimaryUsers" style="max-width:400px;">
    <thead>
        <tr>
            <th>PUID</th>
            <th>Primary User Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let primaryUser of PrimaryUsers">
            <td><a routerLink="/PU-details/{{primaryUser.primaryUserID}}">{{ primaryUser.primaryUserID }}</a></td>
            <td><a routerLink="/PU-details/{{primaryUser.primaryUserID}}">{{ primaryUser.primaryUserName }}</a></td>
        </tr>
    </tbody>
</table>

<h1>Registered Secondary Users</h1>

<p *ngIf="!SecondaryUsers"><em>Loading...</em></p>

<table class='table' *ngIf="SecondaryUsers" style="overflow-x: auto;overflow-y: auto;">
    <thead>
        <tr>
            <th>Tier</th>
            <th>SUID</th>
            <th>Secondary User Name</th>
            <th>Email</th>
            <th>Device ID</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let secondaryUser of SecondaryUsers">
            <td>{{ secondaryUser.tier }}</td>
            <td><a routerLink="/SU-details/{{secondaryUser.secondaryUserID}}">{{ secondaryUser.secondaryUserID }}</a></td>
            <td><a routerLink="/SU-details/{{secondaryUser.secondaryUserID}}">{{ secondaryUser.secondaryUserName }}</a></td>
            <td>{{ secondaryUser.secondaryUserEmail }}</td>
            <td>{{ secondaryUser.deviceID }}</td>
            <td>{{ secondaryUser.location }}</td>
        </tr>
    </tbody>
</table>