@import '~bootstrap/dist/css/bootstrap.min.css';

table {
    width: 100%;
    font-size: smaller;
}

th.mat-sort-header-sorted {
    color: black;
}

table.mat-table {
    display: table;
}

#click-id:hover{
    cursor: pointer;
}
