.register-btn {
	padding: 30px 0px 0px 0px;
}
.register-message {
	padding: 0px 0px 0px 0px;
}

.register-link {
	padding: 0px 0px 0px 0px;
}

.login-title {
    background-image: linear-gradient(rgb(190, 0, 0), rgb(95, 0, 0));
}
