.full-width-table {
  width: 100%;
  padding: 2% 2%;
}

mat-cell {
  margin: 0.5% 1%;
  overflow: auto;
  font-weight: 12px;
}

mat-header-cell {
  margin: 0.5% 1%;
  overflow: auto;
  font-size: 14px;
  font-weight: 900;
}

mat-card {
  display: flex;
  justify-content: center;
  padding: 1% 3%;
  font-size: 18px;
  font-weight: 600;
}

.mat-row:nth-child(even){
  background-color: rgb(205, 224, 243);
}

.mat-row:nth-child(even){
  background-color: rgb(212, 212, 212);
}