.full-width-table {
  width: 100%;
  /* padding: 2% 2%; */
  height: 87%;
  overflow: auto;
}

mat-cell {
  margin: 0.5% 1%;
  overflow: auto;
  font-weight: 12px;
  border: none;
}

mat-header-cell {
  margin: 0.5% 1%;
  overflow: auto;
  font-size: 14px;
  font-weight: 900;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5% 3%; */
  height: 10%;
  margin: 0 0 1% 0;
}

mat-card-content {
  font-size: 19px;
  font-weight: 900;
}

.mat-row {
  border: 1px solid black;
}

.mat-row:nth-child(even){
  background-color: rgb(205, 224, 243);
}

.mat-row:nth-child(even){
  background-color: rgb(212, 212, 212);
}

mat-table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #ffa600;
}

td.mat-cell { 
  padding: 20px 0;
  border: none;
}

tr.mat-row {
  background: #79a1d8;
  border: 1px solid #ffa600;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}