.full-width-table {
  width: 100%;
  /* padding: 2% 2%; */
  height: 87%;
  overflow: auto;
}

mat-cell {
  overflow: auto;
  font-size: 13px;
  border: none;
}

mat-header-cell {
  overflow: auto;
  font-size: 14px;
  font-weight: 900;
}

mat-header-cell, mat-cell {
  /* color: red; */
  justify-content: center;
  border-right: 0.5px solid #004a9f;
  overflow: hidden;
}


mat-header-row {
  border-bottom: 4px solid #004a9f;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5% 3%; */
  height: 10%;
  margin: 0 0 1% 0;
}

mat-card-content {
  font-size: 19px;
  font-weight: 900;
}

.mat-row {
  /* border: 1px solid black; */
}

.mat-row:nth-child(even){
  background-color: rgb(205, 224, 243);
}

.mat-row:nth-child(even){
  background-color: rgb(212, 212, 212);
}

mat-table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #ffa600;
}

td.mat-cell { 
  padding: 20px 0;
  border: none;
}

tr.mat-row {
  background: #79a1d8;
  border: 1px solid #ffa600;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
  border-top: 4px solid #004a9f
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.tableheader {
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 0 0;
    background-color: #004a9f;
    color: white !important;
}

.tablename {
    /* text-align: center; */
    width: 70%;
    font-size: 18px;
    font-weight: 600;
    padding: 1% 1%;
}

.mat-form-field-label {
  color: white;
}

mat-label {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.tablefilter {
  width: 30%;
  padding-right: 2%;
};
