.mat-table {
    height: 80%;
    width: 100%;
    min-width: 100%;
    .mat-header-cell {
        &:not(:last-child) {
            .resize-holder {
                min-width: 20px;
            }
        }
    }

    .mat-cell,
    .mat-header-cell {
        font-size: 12px;
        padding: 0 1em;
        text-align: center;
    }
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.tableheader {
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 0 0;
    background-color: #0079ff;
    color: white !important;
}

.tablename {
    width: 70%;
    font-size: 18px;
    font-weight: 600;
    padding: 1% 1%;
}

mat-label {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.tablefilter {
    width: 30%;
    padding-right: 2%;
};