.mat-table {
    height: 80%;
    background-color: #d2e5fa;
    .mat-header-cell {
        position: relative;
        font-size: 14px;
        font-weight: 900;
        &:not(:last-child) {
            .resize-holder {
                cursor: col-resize;
                width: 20px;
                height: 100%;
                position: absolute;
                right: -10px;
                top: 0;
                z-index: 1;
            }
        }
    }

    .mat-cell,
    .mat-header-cell {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 12px;
        padding: 0 1em;

        &:not(:nth-child(1)) {
            padding: 0 10px;
        }
    }
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.tableheader {
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 0 0;
    background-color: #004a9f;
    color: white !important;
}

.tablename {
    width: 70%;
    font-size: 18px;
    font-weight: 600;
    padding: 1% 1%;
}

mat-label {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.tablefilter {
    width: 30%;
    padding-right: 2%;
};