
<div class="page-wrapper">
<h1 class="header-text">Make a SAS Grant Request</h1>

<div class="container">
    <div [hidden]="submitted">
        <form class="page-form" (ngSubmit)="onSubmit()" #createRequestForm="ngForm" style="max-width:500px;">

            <div class="form-group">
                <label for="cbsdId">CBSD ID</label>
                <select class="form-control" id="dataType"
                        required
                        [(ngModel)]="model.cbsdId" name="cbsdId"
                        #cbsdId="ngModel">
                    <option *ngFor="let cbsdId of nodes" [value]="cbsdId">{{cbsdId}}</option>
                </select>
                <div [hidden]="cbsdId.valid || cbsdId.pristine" class="alert alert-danger">
                    Choose a cbsdId.
                </div>
            </div>

            <div class="form-group">
                <label for="location">Location ex: 12.345678,98.7654321</label>
                <input type="text" class="form-control" id="location"
                       required
                       (change)="checkLocationValid();"
                       [(ngModel)]="model.location" name="location"
                       #location="ngModel"
                       maxlength="25">
                <div [hidden]="location.valid || location.pristine"
                     class="alert alert-danger">
                    Please provide a location, use the GPS format 12.345678,98.7654321
                </div>
                <div *ngIf="locationSet" [hidden]="locationValid"
                     class="alert alert-danger">
                    Please provide a valid GPS location format (-90 to 90, -180, 180)
                </div>
            </div>

            <div class="form-group check-box">
              <label class="checkBox-label" for="status">Check the box if users in the request are mobile</label>
              <input type="checkbox" class="form-control" id="mobility"
                       [(ngModel)]="model.mobility" name="mobility"
                       #mobility="ngModel">
          </div>
          <div *ngIf="model.mobility" class="form-group">
              <label for="maxVelocity">Max Velocity (m/s)</label>
              <input type="number" class="form-control" id="maxVelocity"
                       [(ngModel)]="model.maxVelocity" name="maxVelocity"
                       #maxVelocity="ngModel" min="1" max="300">
              <div [hidden]="maxVelocity.valid || maxVelocity.pristine" class="alert alert-danger">
                  Enter a max velocity
              </div>
              <div *ngIf="model.maxVelocity" [hidden]="model.maxVelocity > 0" class="alert alert-danger">
                  Max velocity must be at least 1 m/s
              </div>
              <div *ngIf="model.maxVelocity" [hidden]="model.maxVelocity <= 300" class="alert alert-danger">
                 Max velocity must be at most 300 m/s
              </div>
          </div>

          <div class="form-group check-box">
              <label class="checkBox-label" for="status">Check the box if the allocation has to be the preferred frequency</label>
              <input type="checkbox" class="form-control" id="frequencyAbsolute"
                       [(ngModel)]="model.frequencyAbsolute" name="frequencyAbsolute"
                       #frequencyAbsolute="ngModel"
                       (change)="frequencyBeAbsolute();">
          </div>

            <div class="form-group">
                <label for="approximateByteSize">Approximate Byte Size</label>
                <input type="number" class="form-control" id="approximateByteSize"
                       required
                       [(ngModel)]="model.approximateByteSize" name="approximateByteSize"
                       #approximateByteSize="ngModel" min="1" max="999999">
                <div [hidden]="approximateByteSize.valid || approximateByteSize.pristine" class="alert alert-danger">
                    Enter an approximate byte size
                </div>
                <div *ngIf="model.approximateByteSize" [hidden]="model.approximateByteSize > 0" class="alert alert-danger">
                    Byte size must be at least 1 byte
                </div>
                <div *ngIf="model.approximateByteSize" [hidden]="model.approximateByteSize <= 999999" class="alert alert-danger">
                    Byte size must be at most 999999 bytes
                </div>
            </div>
            <div class="form-group">
                <label for="dataType">Data Type</label>
                <select class="form-control" id="dataType"
                        required
                        [(ngModel)]="model.dataType" name="dataType"
                        #dataType="ngModel">
                    <option *ngFor="let dataType of dataTypes" [value]="dataType">{{dataType}}</option>
                </select>
                <div [hidden]="dataType.valid || dataType.pristine" class="alert alert-danger">
                    Choose a data type, if the type isn't present, select OTHER.
                </div>
            </div>

            <div class="form-group">
                <label for="powerLevel">Power Level (dB)</label>
                <input type="number" class="form-control" id="powerLevel"
                       required
                       [(ngModel)]="model.powerLevel" name="powerLevel"
                       #powerLevel="ngModel" min="1" max="9999">
                <div [hidden]="powerLevel.valid || powerLevel.pristine" class="alert alert-danger">
                    Enter an power level
                </div>
                <div *ngIf="model.powerLevel" [hidden]="model.powerLevel > -50" class="alert alert-danger">
                    Power level must be at least -50 dB
                </div>
                <div *ngIf="model.powerLevel" [hidden]="model.powerLevel <= 30" class="alert alert-danger">
                    ower level must be at most 30 dB
                </div>
            </div>

        <div>
          <div class="form-group" style="float:left;padding-right:20px;width:220px;">
              <label for="minFrequency">Minimum Frequency (MHz)</label>
              <input type="number" class="form-control" id="minFrequency"
                       required
                       (change)="updateFrequencies();"
                       [(ngModel)]="model.minFrequency" name="minFrequency"
                       #minFrequency="ngModel" min="3550" max="3700">
              <div [hidden]="minFrequency.valid || minFrequency.pristine" class="alert alert-danger">
                  Select a minimum frequency
              </div>
              <div *ngIf="model.minFrequency" [hidden]="model.minFrequency >= 3550" class="alert alert-danger">
                  Frequency must be at least 3550MHz
              </div>
              <div *ngIf="model.minFrequency" [hidden]="model.minFrequency <= 3700" class="alert alert-danger">
                  Frequency must be at most 3700MMHz
              </div>
          </div>

          <div class="form-group" style="float:left;width:200px;">
              <label for="maxFrequency">Maximum Frequency (MHz)</label>
              <input type="number" class="form-control" id="maxFrequency"
                       required
                       (change)="updateFrequencies();"
                       [(ngModel)]="model.maxFrequency" name="maxFrequency"
                       #maxFrequency="ngModel" min="3550" max="3700">
              <div [hidden]="maxFrequency.valid || maxFrequency.pristine || minFrequency <= maxFrequency" class="alert alert-danger">
                  Select a maximum frequency
              </div>
              <div *ngIf="model.maxFrequency" [hidden]="model.maxFrequency >= 3550" class="alert alert-danger">
                  Frequency must be at least 3550MHz
              </div>
              <div *ngIf="model.maxFrequency" [hidden]="model.maxFrequency <= 3700" class="alert alert-danger">
                  Frequency must be at most 3700MHz
              </div>
          </div>

        </div>

        <div style="display: flex; flex-direction: row">

          <div class="form-group" style="width:200px;">
              <label for="preferredFrequency">Preferred Frequency (MHz)</label>
              <input type="number" class="form-control" id="preferredFrequency"
                       (change)="updateFrequencies();"
                       [(ngModel)]="model.preferredFrequency" name="preferredFrequency"
                       #preferredFrequency="ngModel" min="1" max="3700">
              <div *ngIf="model.preferredFrequency" [hidden]="model.preferredFrequency >= 3550" class="alert alert-danger">
                  Frequency must be at least 3550GHz
              </div>
              <div *ngIf="model.preferredFrequency" [hidden]="model.preferredFrequency <= 3770" class="alert alert-danger">
                  Frequency must be at most 3700Hz
              </div>
          </div>

            <div class="form-group" style="float:left;padding-right:20px;width:230px;margin-left: 18px">
              <label for="minBandwidth">Minimum Bandwidth (MHz)</label>
              <input type="number" class="form-control" id="minBandwidth"
                       required
                       (change)="updatePreferredBandwidth();"
                       [(ngModel)]="model.minBandwidth" name="minBandwidth"
                       #minBandwidth="ngModel" min="1" max="150">
              <div [hidden]="minBandwidth.valid || minBandwidth.pristine" class="alert alert-danger">
                  Select a minimum bandwidth
              </div>
              <div *ngIf="model.minBandwidth" [hidden]="model.minBandwidth > 0" class="alert alert-danger">
                  Minimum Bandwidth must be at least 1MHz
              </div>
              <div *ngIf="model.minBandwidth" [hidden]="model.minBandwidth <= 150" class="alert alert-danger">
                  Minimum Bandwidth rate must be at most 150MHz
              </div>
          </div>

            </div>


          <div class="form-group" style="float:left;width:230px;">
              <label for="preferredBandwidth">Preferred Bandwidth (MHz)</label>
              <input type="number" class="form-control" id="preferredBandwidth"
                       required
                       (change)="updatePreferredBandwidth();"
                       [(ngModel)]="model.preferredBandwidth" name="preferredBandwidth"
                       #preferredBandwidth="ngModel" min="1" max="150">
              <div [hidden]="preferredBandwidth.valid || preferredBandwidth.pristine || minBandwidth <= preferredBandwidth" class="alert alert-danger">
                  Select a preferred bandwidth
              </div>
              <!--div *ngIf="model.minBandwidth && model.preferredBandwidth" [hidden]="model.preferredBandwidth >= model.minBandwidth" class="alert alert-danger">
                  Preferred bandwidth must be at least the minimum bandwidth.
              </div-->
              <div *ngIf="model.preferredBandwidth" [hidden]="model.preferredBandwidth > 0" class="alert alert-danger">
                  Preferred bandwidth must be at least M1Hz
              </div>
              <div *ngIf="model.preferredBandwidth" [hidden]="model.preferredBandwidth <= 150" class="alert alert-danger">
                 Bandwidth must be at most 150MHz
              </div>
          </div>




        <div>

          <div class="form-group" style="float:left;width:230px;">
              <label for="startTime">Start Time</label>
              <input type="datetime-local" class="form-control" id="startTime" step="300"
                       required
                       (change)="updateTimes();"
                       [(ngModel)]="model.startTime" name="startTime"
                       #startTime="ngModel"
                       min="{{minDate}}">
              <div [hidden]="startTime.valid || startTime.pristine" class="alert alert-danger">
                  Select a Start Time
              </div>
          </div>
          <div class="form-group" style="float:left;width:230px;margin-left: 2rem">
              <label for="endTime">End Time</label>
              <input type="datetime-local" class="form-control" id="endTime"
                        step="300"
                       required
                       (change)="updateTimes();"
                       [(ngModel)]="model.endTime" name="endTime"
                       #endTime="ngModel"
                       min="{{minDate}}"
                       >
              <div [hidden]="endTime.valid || endTime.pristine" class="alert alert-danger">
                  Select an End Time
              </div>
              <div *ngIf="model.startTime" [hidden]="model.endTime > model.startTime+300" class="alert alert-danger">
                  Select a time after start
              </div>
          </div>

        </div>
          <br>
            <div class="btn-group">
                <button type="submit" class="btn btn-success" [disabled]="!createRequestForm.form.valid">Submit</button>
                <button type="button" style="margin-left: 10rem" class="btn btn-default" (click)="newRequest(); createRequestForm.reset()">Clear Form</button>
            </div>
        </form>
    </div>
    </div>
</div>