<h2>SAS Map</h2>
<button *ngIf="!showingPUs" type="button" class="btn btn-default" (click)="togglePUs();" style="background-color:#ADD8EC;float:left;">PUs</button>
<button *ngIf="showingPUs" type="button" class="btn btn-default" (click)="togglePUs();" style="background-color:#2554C7;float:left;color:white;">PUs</button>
<button *ngIf="!showingSUs" type="button" class="btn btn-default" (click)="toggleSUs();" style="background-color:#ADD8EC;float:left;">SUs</button>
<button *ngIf="showingSUs" type="button" class="btn btn-default" (click)="toggleSUs();" style="background-color:#2554C7;float:left;color:white;">SUs</button>
<button *ngIf="!showingNodes" type="button" class="btn btn-default" (click)="toggleNodes();" style="background-color:#ADD8EC;float:left;">Nodes</button>
<button *ngIf="showingNodes" type="button" class="btn btn-default" (click)="toggleNodes();" style="background-color:#2554C7;float:left;color:white;">Nodes</button>
<button *ngIf="!showingRegions" type="button" class="btn btn-default" (click)="toggleRegions();" style="background-color:#ADD8EC;float:left;">Regions</button>
<button *ngIf="showingRegions" type="button" class="btn btn-default" (click)="toggleRegions();" style="background-color:#2554C7;float:left;color:white;">Regions</button>
<button *ngIf="!showingGrants" type="button" class="btn btn-default" (click)="toggleGrants();" style="background-color:#ADD8EC;float:left;">Grants</button>
<button *ngIf="showingGrants" type="button" class="btn btn-default" (click)="toggleGrants();" style="background-color:#2554C7;float:left;color:white;">Grants</button>


<br>
<div style="min-height:700px;width:100%">
<div #mapContainer id="mapContainer" style="height:100%;min-height:700px;width: 100%;min-width:500px;"></div>
</div>
