canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.approveButton {
  background-color: #22ff22;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.denyButton {
  background-color: #ff2222;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.grantDiv {
  background-color: #eeeeee;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

.grantList {
  background-color: #bbddff;
  float: left;
  padding: 5px;
  height: 770px;
  width: 425px;
  border-radius: 5px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
